In [4]:
import pandas as pd

In [38]:
diamond =pd.read_csv('diamonds.csv')

In [40]:
diamond.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [44]:
diamond.shape

(53940, 10)

In [46]:
diamond.iloc[:4,1]

0      Ideal
1    Premium
2       Good
3    Premium
Name: cut, dtype: object

In [47]:
diamond.loc[2, ['cut' , 'color']]

cut      Good
color       E
Name: 2, dtype: object

In [49]:
pd.crosstab(diamond['color'] , diamond['cut'])

cut    Fair  Good  Ideal  Premium  Very Good
color
D       163   662   2834     1603       1513
E       224   933   3903     2337       2400
F       312   909   3826     2331       2164
G       314   871   4884     2924       2299
H       303   702   3115     2360       1824
I       175   522   2093     1428       1204
J       119   307    896      808        678

In [56]:
diamond.groupby(['color'])[['cut' , 'clarity']].first()

             cut clarity
color
D      Very Good     VS2
E          Ideal     SI2
F        Premium     SI1
G      Very Good    VVS2
H      Very Good     SI1
I        Premium     VS2
J           Good     SI2

In [60]:
pd.pivot_table(['color'])

ValueError: No group keys passed!